/* Ortak CSS özellikleri */
/* GENERAL */
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  color: #fff;
  background-color: #121212;
  line-height: 1.5; /* yeniden hesapla*/
}
